<header>
  
  <nav class="navbar navbar-expand-md navbar-light fixed-top" >
    <div class="container ">
    <a  id="nav-logo" href="{{ site.baseurl }}/">MS<span style="color: #001c71;">Tech</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item  mx-3">
        
          <a class="nav-link" href="{{ site.baseurl }}/">{{ site.list-nav-footer.[0] }} </a>
        </li>
        <li class="nav-item  mx-3">
          <a class="nav-link" href="{{ site.baseurl }}/about-us">{{ site.list-nav-footer.[1] }}</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="{{ site.baseurl }}/blog">{{ site.list-nav-footer.[3] }}</a>
        </li>
      </ul>
        <button class="my-2 my-sm-0" id="button"><a href="{{ site.baseurl }}/contact-us">{{ site.button-heading }}</a></button>
      </div>
  </div>
  </nav>
</header>