<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  {% include header.html %}
  
  <main role="main">

     <!-- banner start -->
    <section class="banner" style="background-image: url(https://recruittalent.com/images/home-banner.png);">
      <div class="container">
          <div class="row">
              <div class="col-xl-7 col-lg-7 col-md-10 col-sm-12 col-12" data-aos="fade-up" data-aos-duration="1000">
                  <h1>
                    {{ page.bannerheading | markdownify }}
                  </h1>
                  <h6>
                      <p>{{ page.bannersubheading | markdownify }}</p>
                  </h6>
                  <a href="{{ site.baseurl }}contact-us" class="button ">GET IN TOUCH</a>
                  

              </div>
          </div>
      </div>
  </section>
   <!-- banner end -->

    <!-- About us start -->
    <div id="aboutus" class="container marketing">
      <h1 class="blog-heading py-3">About Us</h1>
      <div class="row featurette">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <p class="card-text">{{ page.aboutus-description | markdownify }}</p>
          <div class="d-flex justify-content-between align-items-center pt-4">
            <a href="{{ site.baseurl }}about-us"  class="arrow-btn">
              Learn More</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img class="p-3 about-image" src="{{ site.baseurl }}{{ page.aboutus-image }}" alt="About-Us-Image">
        </div>
      </div>
      <h1 class="featurette-divider"></h1>
    </div>
    <!-- About us end -->


    <!-- blogs start -->
    <h1 class="blog-heading ">Our Latest Blogs</h1>
    <div class="container marketing" id="blogs">
      <!-- Three columns of text below the carousel -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2  row-cols-lg-3 g-3">
        {% for post in site.posts %}
        {% unless post.title == 'Post Application of Markdown' %}
        <a href="{{ site. baseurl }}{{ post.permalink}}">
          <div class="col outercol">
            <div class="card shadow-sm">
              <img class="p-3" src="{{ site.baseurl }}{{ post.image-card }}" alt="{{ post.title }}">
              <div class="card-body">
                <h5>{{ post.title }} </h5>
                <p class="card-text">{{ post.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <span class="arrow-btn">Read More</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        {% endunless %} 
        {% endfor %}
      </div>
      <h1 class="featurette-divider"></h1>
      {% for service in site.services %}
        {{ service.permalink }}
      {% endfor %}
    </div>
    <!-- blogs end -->
  
    {% include footer.html %}
  </main>

 {% include scripts.html %}
    
</body>

</html>