<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
   {% include header.html %} 
   <main role="main">

    <!-- banner start -->
    <section class="banner" id="home" style="background-image: url(https://recruittalent.com/images/home-banner.png);">
        <div class="container">
          <h1 class="banner-heading">{{ page.bannerheading | markdownify }}</h1>
          <p>{{ page.bannersubheading | markdownify }}</p>
          <p> <button class="my-2 my-sm-0" id="button"  type="submit">CONTACT US</button></p>
        </div>
    </section>
     <!-- banner end -->

       <!-- About us start -->
       <div  id="aboutus" class="container marketing">
     <h1  class="blog-heading py-3">About Us</h1>
     <div class="row featurette">
       <div class="col-md-7 pt-5"> 
        <p class="card-text">{{ page.aboutus-description | markdownify }}</p>
          <div class="d-flex justify-content-between align-items-center pt-4">
          <span class="arrow-btn">LEARN MORE...</span> 
          </div>
        </div>
       <div class="col-md-5">
        <img class="p-3" src="{{ page.aboutus-image }}" alt="Blog2-Image">
       </div>
     </div>
     <hr class="featurette-divider">
    </div>
    
     <!-- About us end -->

     <h1 class="blog-heading my-5">Our Latest Blogs</h1>
     <!-- blogs start -->
    <div class="container marketing" id="blogs">
        <!-- Three columns of text below the carousel -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         {% for post in site.posts %}
         <a href="{{ site. baseurl }}/{{ post.permalink}}">
          <div class="col">
            <div class="card shadow-sm">
              <img  class="p-3" src="./assets/{{ post.image-card }}" alt="{{ post.title }}">
              <div class="card-body">
                <h5>{{ post.title }} </h5>
                <p class="card-text">{{ post.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <span class="arrow-btn">READ MORE...</span>
                </div>
              </div>
            </div>
          </div>
        </a>
          {% endfor %}
         </div>
        <!-- /.row -->
    
 
     <hr class="featurette-divider">
 
     <!-- /END THE FEATURETTES -->
 
   </div><!-- /.container -->
   <!-- blogs end -->
   {% include footer.html %}
</main>
</body>
</html>